/* font-family: 'Lobster', cursive;

font-family: 'Open Sans', sans-serif; */

.super-tall{height: 800px;}

.tall {height: 400px;}

.short {height:150px;}

#open-sans {font-family: 'Open Sans', sans-serif;}

